body,
html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

/* Helper classes */
.h-90 {
    height: 90%;
}

.h-10 {
    height: 10%;
}

.border1black {
    border: 1px solid black;
}


.navbar-full-width {
    background-color: #078EE3;
    margin-left: -20px;
    margin-right: -20px;

}

/* Place where Home symbol and "SmartHome" text is placed */
#logo-box {
    padding: 5px 10px;
    background-color: #078EE3;
    padding: 10px;
    font-family: 'Archivo', sans-serif;
    font-size: 30px;

}

#logo-box img {
    width: 60px;
}

#logo-box b {
    color: rgb(243, 243, 243);

}

/* Navigation menu with notifications, settings, search */
.top_navbar_item {
    padding: 5px 5px;
    margin-left: 5px;
}

.top_navbar_item img {
    width: 35px;
}

.top_navbar_item:hover {
    background-color: #0e87be;
    border-radius: 20px;
}

.top_navbar_item:last-of-type {
    margin-right: 0px;
}


.top_navbar_item span {
    font-weight: 600;
    font-size: 16px;
    color: #dddddd;
    padding-left: 10px;
}


/* Account in navbar  */
#account_ul {
    padding: 10px 20px;
}

#account_ul img {
    width: 45px;
}

#account_ul li,
a {
    font-weight: 600;
    font-size: 16px;
    color: #dddddd;
    padding-left: 10px;
}

#userName {
    color: white;
}

#account_ul li:hover #userName {
    color: rgb(181, 219, 255);

}

#account_ul li:hover a {
    color: rgb(152, 205, 255);
}

/* Sidebar */
#sidebar {

    color: #9f9f9f;
    background-color: #363144;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    letter-spacing: 1.3px;
    font-weight: 600;

}

#sidebar img {
    width: 60px;
    padding-top: 5px;
}

#sidebar .row {
    margin-top: 15px;
}

.sidebar_title {
    padding: 15px 0px;
}

.sidebar_item:hover {
    background-color: #1b1920;
}

.sidebar_item img {
    width: 60px;
}

.auto_height {
    height: auto;
}

#sidebar_xs {
    color: #9f9f9f;
    background-color: #363144;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    letter-spacing: 1.3px;
    font-weight: 600;

}

#sidebar_xs img {
    width: 50px;
    height: 100%;
}

.sidebar_xs_item:hover {
    background-color: #1b1920;
}

/* Switchable content */
#switchable_content {
    font-family: 'Muli', sans-serif;
}

.vertical_align {
    display: flex;
    align-items: center;
}

.box_item {
    padding-bottom: 10px;
}